.quote-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 800px;
  border: 1px solid #000;
  background-color: white;

  &:hover {
    z-index: 9999;
  }
}

.quote-actions-popover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}