.quote-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.dnd-sortable-tree_simple_tree-item {
  background-color: white;
  border: 0px !important;
  padding: 0.5px !important;
}

.dnd-sortable-tree_simple_wrapper {
  // padding: 0px !important;
}