.dnd-sortable-tree_simple_tree-item {
  background-color: white;
  border: 1px solid #dedede;
  padding: 0 !important;

  // &::after {
  //   border-bottom: 5px solid rgb(72, 172, 254) !important;
  // }
}

.quotes-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
}